<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>ChangLuo Blog</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body >

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ChangLuoBlog</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <!--li><a href="#about">About</a></li-->
            <li><a href="/base.html">Contact</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <br><br><br>
        <h1 style="text-align: center">Chang Luo </h1>
        <p class="lead" style="text-align: center">
            6901 Brentfield Drive , Dallas, Tx 75248 |972-974-1692 | cluo@smu.edu<br>
            <strong>Targeting an Full-Time Job Opportunity in Software Engineering.<br>
        </p>
        <h2>
            <font size="5">
            <strong>Career Summary
            </font>
        </h2>
        <ul> 
            <li style="text-indent: 2em">
            Highly motivated MSEE graduate offering a strong foundation in object-oriented programming, developing, testing and data analysis skills.
            </li>
            <li style="text-indent: 2em">
            Quickly learn and master new technologies,Successful working in both team and self-directed settings.
            </li>
        </ul>
        </p>
        <h2>
            <font size="5">
            <strong>Education
            </font>
        </h2>
        <ul>
            <li><strong>Southern Methodist University,Dallas,Expected Graduation:May 2016</strong>
                <p>
                Pursuing Master of Science in Electrical Engineering MSEE) GPA:3.3/4.0
                </p>
                <p style="margin-left: 20px">
                Coursework in Computer Architecture, Software Requirement, Digital Image Processing, Data Mining, Microcontroller Architecture, Medical Signal Processing, Speech Signal Processing, etc.
                </p>
            </li>
        
            <li><strong>Nanjing University of Aeronautics and Astronautics , Nanjing,China 2010.9-2014.6 </strong> 
                <p>
                 Bachelor of Engineer , Information Engineer   GPA:3.2/4.0 
                </p>   
                <p style="margin-left: 20px">
                Coursework in Data Structures, C++ Programming, Algorithm, Data Analysis, Database Management Systems, Assembly Language Programming, Computer Organization and Architecture, etc.
                 </p>
                </li>
            </ul>
        <h2>
            <font size="5">
            <strong>Relevant Experience</strong>
            </font>
        </h2>
        <p>
            <strong>Data Mining Project --using Python  02/2015-05/2015
        </p>
        <p>
        Analysis work closely with teammates to explore and visualize the most important attributes of large data, identify trends and relationships, perform quantitative analysis to draw appropriate conclusions and recommend decisions. 
        </p>
        <ul>
            <li>
            Analyze multiple source data.
            </li>
            <li>
            design and implement statistical/predictive models.
            </li>
        </ul>
         
        
        <p>
            <strong>Design and Implement the Alumnus Information System  --using Java 04/2012-03/2013   </strong>
        </p>
        <br>
        <p>
        Work as part of a four-member team on Alumnus Information System based on Android system for Nanjing University of Aeronautics and Astronautics. 
        </p>
        <ul>
            <li>
                Analyzed functional requirements and implement into executable code.
            </li>
            <li>
                UI design and software test.
            </li>
        </ul>
        
        <h2>
            <font size="5">
            <strong>Work Experience
            </font>
        </h2>
        <p>
            <strong>Light of Love Public Welfare Development & Health Management Consulting Center      05/2012-08/2012</strong>
        </p>
        <p>
        Administrative Assistant and Technician
        <ul>
            <li>Create and modify documents using Microsoft Office.</li>
            <li>Provide networking and desktop support, account maintenance. </li>
            <li>Participate and presented the working achievements in The First China Charity Project Exchange Exhibition and Nanjing Love Public Welfare Exhibition.
            </li>
        </ul>
        <h2>
            <font size="5">
            <strong>Activities and Volunteer 
            </font>
        </h2>
        <p>
            <strong>Director of the Kindness Club &Vice-chairmen of Youth Volunteer Association in the college     06/2011-06/2012 </strong>
        </p>
        <p style="margin-left: 20px">
        Organized and participated nearly 60 public welfare activities, including subway station voluntary activities, book donation activities,donation activities for the stray animals ,volunteer teaching in the west China and so on 
        </p>
        <h2>
            <font size="5">
            <strong>Technical Skills
            </font>
        </h2>
        <p style="margin-left: 20px">
            Java, Python, Matlab, JavaScript, HTML, PHP, CSS, MySQL, Linux, Assembly Language
        </p>
        <p>Word, Excel, PowerPoint </p>
            
        
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
